/*Site para conteúdo extras w3schools.com*/

div.quadrado {
    display: inline-block;
    margin: 5px;
    height: 300px;
    width: 300px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 20px;
}

div#q1 {
    background-color: rgb(255, 255, 255);
}

div#q2 {
    background-image: linear-gradient(to bottom, rgb(205, 211, 226), blue);
}

div#q3 {
    background-image: url(flor.jpg);
    background-repeat: no-repeat;
    /*background-repeat: repeat;*/
   /* background-repeat: repeat-x;*/
   /* background-repeat: repeat-y;*/

   /* background-size: contain; */
   /* background-size: auto; */
    /*background-size: 50px;*/
    /*background-size: cover; */

    /*background-attachment: fixed;*/
    background-attachment: scroll;
}

body {
    background-color: black;
    background-image: url(azul.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*RESUMIDO - exemplo de uso do shorthand background dentro de um seletor
body {
    background: black url(#) center center no-repeat fixed;
}
*/

div#dentro {
    height: 200px;
    width: 200px;
    background-color: white;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
div#fora {
    height: 10vh;
    background-color: red;
    position: relative;
}