/* Formatação de Paragrafo */

p {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
}
h1 {
    color: rgba(169, 10, 209, 0.452);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
h2 {
    color: rgb(198, 6, 137);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}                                       
