h1{
    color: rgb(158, 4, 147);
    background-color: black;
    text-align: center;
    padding: 10px;
    height: 150px;
}
h1:hover{
    color: white;
    background-color: black;
    padding: 15px;
    transition: 0.5s;
}
h2{
    color: white;
    background-color: rgb(5, 5, 82);
    text-align: center;
    padding: 10px;
    margin-left: 30px;
}
h2:hover{
    color: white;
    background-color: black;
    padding: 15px;
    transition: 0.9s;
    margin-right: 30px;
    box-shadow: 5px 5px 15px black;
    border:2px pink solid;
    
}